<html>
    <head>
    <!-- Load c3.css -->
    <link href="/static/c3-0.4.10/c3.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Load d3.js and c3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="/static/c3-0.4.10/c3.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/app.js" type="text/javascript"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="127.0.01/">Topic Modeling Using LDA</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="127.0.01/">Home</a></li>
      <li><a href="127.0.0.1/jslda">Topic WordCloud</a></li>
    </ul>
  </div>
</nav>
        <div class="container">
            <div class='col-md-12' style="margin-top: 20px;">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Select An Option<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li class="127.0.0.1/wiki"><a href="index.html">Wiki Topics</a></li>
                        <li><a href="127.0.0.1/new">NewS Topic</a></li>
{#                        <li><a href="127.0.0.1/wiki">Wiki Documents Search</a></li>#}
                        <li><a href="127.0.0.1/bbc">BBC Topics</a></li>
{#                        <li><a href="bbc_documents.html">BBC Documents Search</a></li>#}
                    </ul>
                </div>
            </div>
        </div>

{#{% block body %}#}


    </body>
</html>
